@media (max-width: 1599px) and (min-width: 1420px) {
  .desktop nav .container-flex {
    padding: 0 10px;
  }
  .desktop nav .container-flex ul li a {
    font-size: 14px;
    padding: 0 6px;
  }
  .desktop .nav-contact .icon {
    margin-right: 8px;
    margin-left: 20px;
  }
  .banner-img {
    width: 70%;
    left: -10.5rem;
  }
}
@media (max-width: 1419px) and (min-width: 1280px) {
  .desktop nav .container-flex {
    padding: 0 10px;
  }
  .desktop nav .container-flex ul li a {
    font-size: 12px;
    padding: 0 7px;
  }
  .desktop .nav-contact .info h5 {
    font-size: 12px;
  }
  .desktop .nav-contact .info a {
    font-size: 16px;
  }
  .desktop .nav-contact .icon {
    min-width: 38px;
    height: 38px;
  }
  .desktop .nav-contact .icon {
    margin-right: 8px;
    margin-left: 20px;
  }
  .desktop .nav-contact .icon img {
    max-width: 15px;
  }
  .desktop .nav-contact {
    align-items: center;
  }
  .banner-img {
    width: 75%;
    left: -12.5rem;
  }
  .banner .line::before {
    right: 2.5rem;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .desktop nav .container-flex {
    padding: 0 0px 0 10px;
  }
  .desktop nav .container-flex ul li a {
    font-size: 10px;
    padding: 0 4px;
  }
  .desktop .desktop .nav-contact .icon {
    min-width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-left: 0px;
  }
  .desktop .nav-contact .icon img {
    max-width: 12px;
  }
  .desktop .nav-contact .info a {
    font-size: 14px;
  }
  .desktop .nav-contact .info h5 {
    font-size: 10px;
  }
  .btnn-gradient {
    font-size: 12px;
    padding: 6px;
  }
  .desktop .nav-contact {
    transform: translateX(16px);
  }
  .banner-img {
    width: 80%;
    left: -20.5%;
  }
  .banner h1 {
    font-size: 55px;
    line-height: 55px;
  }
  .banner-btns .btnn {
    font-size: 12px;
    padding: 8px 16px;
  }
  .banner-btns .btnn.btnn-outline {
    margin-left: 5px;
  }
  .banner .swiper-btns .swiper-button-next {
    top: 25.3rem;
    left: 4rem;
  }
  .banner .swiper-btns .swiper-button-prev {
    top: 25.3rem;
    left: 0.8rem;
  }
  .banner .line::before {
    left: 8rem;
  }
  .banner h6 {
    line-height: 22px;
    margin-top: 12px;
  }
}

@media (max-width: 1024px) and (min-width: 992px) {
  .banner-img {
    width: 95%;
    left: -30%;
  }
  .banner-inner {
    padding: 180px 0 100px;
  }
  .banner-btns {
    display: flex;
  }
  .banner-btns .btnn {
    padding: 12px 10px;
  }
  .banner .line::before {
    right: 1rem;
  }
  .banner h1 {
    font-size: 55px;
    line-height: 55px;
  }
  .banner .swiper-btns .swiper-button-next {
    top: 26rem;
    left: 4rem;
  }
  .banner .swiper-btns .swiper-button-prev {
    top: 26rem;
    left: 0.8rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .banner-img {
    width: 110%;
    left: -50%;
  }
  .banner-inner {
    padding: 160px 0 100px;
  }
  .banner h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .banner-btns {
    display: flex;
    flex-direction: column;
  }
  .banner-btns .btnn {
    font-size: 12px;
    padding: 12px 10px;
    text-align: center;
    width: 65%;
  }
  .banner h6 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
  }
  .banner-rating .left ul li {
    min-width: 40px;
    height: 40px;
  }
  .banner-rating .left ul li img {
    max-width: 18px;
  }
  .banner-rating .right {
    margin-left: 10px;
  }
  .banner-rating {
    align-items: center;
  }
  .banner-rating .right span {
    font-size: 12px;
  }
  .banner .swiper-btns .swiper-button-next {
    top: 27.8rem;
    left: 4rem;
  }
  .banner .swiper-btns .swiper-button-prev {
    top: 27.8rem;
    left: 0.8rem;
  }
  .banner .line::before {
    right: -1rem;
  }
  .banner .input input::placeholder {
    font-size: 12px;
  }
  .banner .input select {
    font-size: 12px;
  }
  .banner button {
    font-size: 12px;
  }
  .banner-btns .btnn.btnn-outline {
    margin-left: 0;
    margin-top: 12px;
  }
}
@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  .bars {
    width: 50px;
    height: 50px;
    background: #162868;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #fff;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -200%;
    width: 300px;
    height: 100%;
    background: #162868;
    transition: all 0.5s ease-in-out;
  }
  .nav-menu ul li a {
    padding: 20px;
    color: #fff;
    border-bottom: 1px solid #eeeeee21;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
  .nav-menu ul li:last-child a {
    border: none;
  }
  .times {
    display: none;
  }
  .mobile.show-times .times {
    display: block;
  }
  .mobile.show-times .ham {
    display: none;
  }
  .mobile.mobile.show-times .nav-menu {
    left: 0;
  }
  .mobile .btnn {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .banner-img {
    display: none;
  }
  .banner {
    background: linear-gradient(to right, #f9192cd7, #ff820d6c),
      url(../imgs/banner-img.png) no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .banner-inner {
    padding-top: 160px;
  }
  .banner h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .banner h6 {
    font-size: 14px;
    line-height: 22px;
    margin-top: 14px;
  }
  .banner .btnn {
    font-size: 14px;
    padding: 10px 15px;
  }
  .line::before {
    right: 2rem !important;
  }
  .banner .swiper-btns .swiper-button-next {
    top: 24rem;
    left: 4rem;
  }
  .banner .swiper-btns .swiper-button-prev {
    top: 24rem;
    left: 0.8rem;
  }
  .banner .form-container {
    padding: 40px 15px 40px 0px;
  }
}

@media (max-width: 575px) {
  .logo img {
    max-width: 180px;
  }
  .mobile .container-flex {
    padding: 0 10px;
  }
  .banner .btnn {
    width: 100%;
    text-align: center;
  }
  .banner .btnn.btnn-outline {
    margin-left: 0;
    margin-top: 10px;
  }
  .line::before {
    display: none;
  }
  .banner .swiper-btns .swiper-button-next {
    top: 27rem;
    left: 4rem;
  }
  .banner .swiper-btns .swiper-button-prev {
    top: 27rem;
    left: .5rem;
  }
}
