@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* GLOBAL */
body,
html {
  overflow-x: clip;
  overflow-y: visible;
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 800;
}
h1 {
  font-size: 90px;
}
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  color: #000;
}

span {
  display: inline-block;
}
section {
  padding: 70px 0;
}
.top-heading h2 {
  font-size: 50px;
  color: #000;
}

.top-heading p {
  font-size: 16px;
  color: #000;
  line-height: 28px;
}

.scrollToTopBtn {
  width: 80px;
  height: 80px;
  background: #162868;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  z-index: 1000000000000000000000;
  bottom: 0;
  right: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 50px;
}

.showBtn {
  opacity: 1;
  transform: translateY(-100px);
  pointer-events: all;
}
.btnn {
  padding: 12px 25px;
  text-transform: uppercase;
  background: #162868;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid #ddd;
  border: none;
  transition: all 0.4s ease-in-out;
}
.btnn-outline {
  background: none;
  color: #162868;
}
.btnn-outline:hover {
  background: #162868 !important;
  color: #fff !important;
}
.btnn:hover {
  background: none;
  color: #162868;
}
.btnn-gradient {
  position: relative;
  border: none;
}
.btnn-gradient span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.btnn-gradient:hover span {
  color: #fff;
}
.btnn-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f9192a, #ff810d);
  transition: all 0.4s ease-in-out;
}
.btnn-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #f9192a, #ff810d);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}
.btnn-gradient:hover::before {
  opacity: 0;
}
.btnn-gradient:hover::after {
  opacity: 1;
}
/* GLOBAL */

/* HEADER */
.mobile {
  display: none;
}
.desktop nav {
  height: 100px;

  background: #162868;
  position: relative;
  z-index: 9999;
}
.desktop nav .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
nav .container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.desktop nav .container-flex ul {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
}
.desktop nav .container-flex ul li a {
  padding: 0 30px 0 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.desktop nav .nav-right {
  display: flex;
  align-items: center;
}
.desktop .nav-contact {
  display: flex;
}
.desktop .nav-contact .icon {
    min-width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.desktop .nav-contact .info {
  margin-right: 30px;
}
.desktop .nav-contact .info h5 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.desktop .nav-contact .info a {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(#F9192A, #FF810D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* HEADER */
.swiper-outer {
  position: relative;
}
/* BANNER */
.banner {
  background: url(../imgs/banner-img.png) no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.banner-img {
  position: absolute;
  left: 0;
  width: 56%;
  pointer-events: none;
  z-index: 10;
}
.banner .swiper {
  position: relative;
  z-index: 11;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-inner {
  padding: 70px 0 100px;
}
.banner-content {
  position: relative;
}
.banner-content h1 {
  line-height: 95px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
}
.banner-content h6 {
  color: #fff;
  line-height: 30px;
  max-width: 450px;
  font-weight: 600;
}
.banner-btns {
  margin-top: 25px;
}
.banner-btns .btnn {
  border: 1px solid #162868;
}
.banner-btns .btnn:hover {
  border-color: #fff;
  color: #fff;
}
.banner-btns .btnn.btnn-outline {
  border: 1px solid #fff;
  margin-left: 15px;
  color: #fff;
}
.banner-btns .btnn.btnn-outline:hover {
  border-color: #162868;
}
.banner-rating {
  display: flex;
  margin-top: 35px;
}
.banner-rating .left ul {
  display: flex;
  align-items: center;
}
.banner-rating .left ul li {
  min-width: 54px;
  height: 54px;
  background: #fff;
  border-radius: 50%;
  margin: 0 0px 0 -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  box-shadow: -4px 0 50px rgba(0, 0, 0, 0.2);
}
.banner-rating .left ul li:first-child {
  margin-left: 0;
}
.banner-rating .right {
  margin-left: 20px;
}
.banner-rating .right span {
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
  color: #fff;
  text-transform: uppercase;
}
.banner .line {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100px;
}
.banner .line::before {
  content: "";
  position: absolute;
  right: 4rem;
  top: 83%;
  width: 70%;
  height: 1px;
  background-color: #fff;
}

.banner .swiper-btns .swiper-button-next {
  top: 31rem;
  left: 4rem;
  z-index: 11;
}
.banner .swiper-btns .swiper-button-prev {
  top: 31rem;
  z-index: 11;
}
.banner .swiper-btns .swiper-button-next,
.banner .swiper-btns .swiper-button-prev {
  min-width: 43px;
  height: 43px;
  background: rgba(255, 255, 255, 0.3);
}
.banner .swiper-btns .swiper-button-next::after,
.banner .swiper-btns .swiper-button-prev::after {
  font-size: 20px;
  color: #fff;
}
.banner .swiper-button-next:not(.swiper-button-disabled) {
  background-color: #162868 !important;
}
.banner .swiper-button-prev:not(.swiper-button-disabled) {
  background-color: #162868 !important;
}
.banner .form-container {
  background: #162868e3;
  padding: 40px 30px 25px 0;
  transform: translateY(50px);
  position: relative;
}
.form-img {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  pointer-events: none;
}
.form-img img {
  width: 200px;
}
.banner .form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #162868e3;
}
.banner .form-container h4 {
  text-align: center;
  margin-bottom: 22px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.banner .input {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .banner .input-col:nth-child(1) .input {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.banner .input-col:nth-child(2) .input {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.banner .input-col:nth-child(3) .input {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.banner .input-col:nth-child(4) .input {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.banner .input-col:nth-child(2) .input input {
    padding: 0 35px;
}
.banner .input-col:nth-child(4) .input select {
    padding: 0 35px;
} */
.banner .input input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: #03095b;
  border: none;
  border: 1px solid #3d4667;
  color: #fff;
  outline: none;
  font-size: 14px;
}
.banner .input textarea {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: #03095b;
  border: none;
  border: 1px solid #3d4667;
  color: #fff;
  outline: none;
  font-size: 14px;
}
.banner .input select {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  border: 1px solid #3d4667;
  outline: none;
  appearance: none;
  background: #03095b url(../imgs/arrow-down.png) no-repeat;
  background-size: 11px;
  background-position: 92%;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
}
.banner .input input::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
}
.banner .input button {
  color: #fff !important;
}
/* BANNER */
